* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
  background-color: var(--Very-Light-Grayish-Blue);
}

h1 {
  text-align: center;
  padding: 1.875rem;
  color: var(--Grayish-Blue);
}
.toggle-btn {
  color: var(--Grayish-Blue);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
}

.monthly {
  margin-left: 1.875rem;
}

#toggle {
  display: none;
}

label {
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: #ccc;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  margin-left: 2rem;
}

label::before {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 2px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  transition: transform 0.3s;
}

#toggle:checked + label {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

#toggle:checked + label::before {
  transform: translateX(2rem);
}

.pricing-container {
  padding: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  font-size: 15px;
  color: var(--Grayish-Blue);
  padding: 2.5rem 3.75rem;
  margin: 1.875rem, 0;
  background-color: var(--Very-Light-Grayish-Blue);
  border-radius: 10px;
  box-shadow: 12px 0 15px -4px rgba(10, 99, 169, 0.16),
    -12px 0 8px -4px rgba(10, 99, 169, 0.16);
}

.pricing-card.active {
  font-size: 15px;
  margin: 1.875rem, 0;
  color: var(--Very-Light-Grayish-Blue);
  padding: 3.125rem 3.75;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transform: scale(1.1);
  border-radius: 10px;
  border-width: 100%;
  box-shadow: 10px 10px 10px rgba(66, 134, 185, 0.16);
}
.dollar {
  font-size: 2.5rem;
  margin-right: 7px;
}

.pricing-heading {
  text-align: center;
  padding: 10px;
}

.pricing-card .pricing-card-price {
  color: var(--Dark-Grayish-Blue);
}

.pricing-card.active .pricing-card-price {
  color: var(--Very-Light-Grayish-Blue);
}

.pricing-card-price {
  padding: 10px 10px 25px 10px;
  min-width: 16rem;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.pricing-info {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.learn-more {
  display: block;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
  text-align: center;
  padding: 10px;
  margin-top: 2.187rem;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  text-decoration: none;
  border-radius: 5px;
}

.pricing-card a:hover {
  color: rgb(100, 85, 187);
  background: transparent;
  border-width: 1px;
  border-color: rgb(100, 85, 187);
}

.pricing-card.active a:hover {
  color: var(--Very-Light-Grayish-Blue);
  background: transparent;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--Very-Light-Grayish-Blue);
}

.learn-more.active {
  color: rgb(100, 85, 187);
  background: var(--Very-Light-Grayish-Blue);
}
